[Desktop Entry]
Comment=
Exec=/usr/share/ghidra/ghidra
GenericName=Ghidra Disassembler and Decompiler
Icon=/usr/share/ghidra/ghidra.png
MimeType=
Name=Ghidra
Path=/usr/share/ghidra
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
